$body: rgb(250, 241, 234);
$header: rgb(192, 240, 223);
$grey: rgb(128, 128, 128);
$article_heading: rgb(220, 106, 94);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  font-family: Raleway, sans-serif;
}

#app {
  background: $body;
}

header {
  background-color: $header;
  text-align: center;
}

img#logo {
  width: 320px;
}

img {
  width: 100%;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  background: $grey;
  padding: 10px 10px 10px 20px;
  border-top: 1px solid #fff;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

h3 {
  color: $article_heading;
  font-size: 23px;
  font-size: 600;
}

.padding  {
  padding: 20px;
}

footer {
  background: $grey;
  color: #fff;
  clear: both;
}

footer h3 {
  color: #fff;
}

@media all and (min-width: 550px) {
  nav ul {
    background: $grey;
    border-top: 1px solid #fff;
  }
  nav ul li {
    display: inline-block;
    border: none;
  }
  section#news {
    float: left;
    width: 40%;
  }
  section#instruments {
    float: right;
    width: 60%;
  }
}

@media all and (min-width: 920px) {
  section#news {
    float: left;
    width: 30%;
  }
  section#instruments {
    float: right;
    width: 70%;
  }
  article {
    display: inline-block;
    width: 48%;
    margin-right: 20px;
  }
  article:nth-child(even) {
    margin:0;
  }
}

@media all and (min-width: 1200px) {
  #app {
    width: 1200px;
    margin: auto;
  }
  .container {
    width: 1200px;
    margin: auto;
  }
}
